@import "partials/_colours";
@import "partials/_fonts";
@import "partials/_styling";
@import "partials/_mixins";

@import "layout/_navigation";
@import "layout/_banner";
@import "layout/_combo-slider";
@import "layout/_instagram-feed";
@import "layout/_video-banner";
@import "layout/_price-board";
@import "layout/_map";
@import "layout/_staff-member";
@import "layout/_footer";

body {
    font-family: $font;
    background-color: #eee;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.content {
    position: relative;
    z-index: 3;
}