.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.navigation .logo {
  padding: 15px;
}

.navigation .logo img {
  max-width: 170px;
  height: auto;
}

.navigation nav.navigation-menu ul.menu {
  margin: 0;
  padding: 0;
}

.navigation nav.navigation-menu ul.menu li {
  display: inline-block;
  padding-right: 60px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-right: 15px;
  line-height: 1.2;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.navigation nav.navigation-menu ul.menu li.menu-item-1 {
  border-left: 5px solid #981E20;
}

.navigation nav.navigation-menu ul.menu li.menu-item-2 {
  border-left: 5px solid #4B6F34;
}

.navigation nav.navigation-menu ul.menu li.menu-item-3 {
  border-left: 5px solid #C15E28;
}

.navigation nav.navigation-menu ul.menu li.menu-item-4 {
  border-left: 5px solid #0D301A;
}

.navigation nav.navigation-menu ul.menu li .long-name {
  display: block;
  color: #fff;
  font-size: 1.15rem;
  text-transform: uppercase;
}

.navigation nav.navigation-menu ul.menu li a:link, .navigation nav.navigation-menu ul.menu li a:active, .navigation nav.navigation-menu ul.menu li a:visited {
  color: #fff;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.navigation nav.navigation-menu ul.menu li a:hover {
  text-decoration: none;
}

.navigation nav.navigation-menu ul.menu li:hover {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  cursor: pointer;
}

.banner {
  background-color: #000;
}

.banner .banner-item {
  position: relative;
  height: 700px;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  display: block !important;
}

.banner .banner-item img {
  max-width: 100%;
  height: auto;
  display: block;
}

.banner .banner-item .banner-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  color: #fff;
  padding-left: 10%;
  padding-bottom: 10%;
}

.banner .banner-item .banner-text h2 {
  font-size: 3rem;
  font-style: italic;
  font-weight: 700;
}

.banner .banner-item .banner-text p {
  line-height: 2;
  font-size: 1.2rem;
}

.banner .banner-item .banner-text .coupon-code {
  border: 2px solid #fff;
  padding: 5px 10px;
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

.banner .banner-item .banner-text .banner-button {
  background-color: #FFCC04;
  color: #000;
  display: block;
  width: 180px;
  padding: 10px 15px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3px;
}

.banner .banner-item .banner-text .banner-button:hover {
  background-color: #b79100;
  text-decoration: none;
}

.slick-slider .slick-arrow {
  display: block;
  height: 100%;
  padding: 10px;
  width: 100px;
  z-index: 99;
}

.slick-slider .slick-prev {
  left: 0;
  background: black;
  background: -webkit-gradient(linear, left top, right top, from(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0) 100%);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0.6;
}

.slick-slider .slick-prev:hover {
  opacity: 0.8;
}

.slick-slider .slick-next {
  right: 0;
  background: black;
  background: -webkit-gradient(linear, right top, left top, from(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(270deg, black 0%, rgba(0, 0, 0, 0) 100%);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0.6;
}

.slick-slider .slick-next:hover {
  opacity: 0.8;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}
/*# sourceMappingURL=style.css.map */