.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background-color: $nav-background-color;
    nav.navigation-menu {
        ul.menu {
            margin: 0;
            padding: 0;
            list-style-type: none;
            li {
                display: inline-block;
                padding-right: 45px;
                padding-left: 26px;
                &.menu-item {
                    border-left: 4px solid transparent;
                }
                &.menu-item-1:hover {
                    border-left: 4px solid $railway;
                }
                &.menu-item-2:hover {
                    border-left: 4px solid $zipline;
                }
                &.menu-item-3:hover {
                    border-left: 4px solid $pottery;
                }
                &.menu-item-4:hover {
                    border-left: 4px solid $conservation;
                }
                .long-name {
                    display: block;
                    color: #fff;
                }
                a {
                    &:link,
                    &:active,
                    &:visited {
                        color: #fff;
                    }
                }
            }
        }
    }
}