.banner {
    background-color: #000;
    .banner-item {
        position: relative;
        height: 700px;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom center;
        display: block !important;
        img {
            max-width: 100%;
            height: auto;
            display: block;
        }
        .banner-text {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 99;
            color: #fff;
            padding-left: 10%;
            padding-bottom: 10%;
            h2 {
                font-size :3rem;
                font-style: italic;
                font-weight: 700;
            }
            p {
                line-height: 2;
                font-size:1.2rem;
            }
            .coupon-code {
                border: 2px solid #fff;
                padding: 5px 10px;
                margin-left: 10px;
                text-transform: uppercase;
                font-weight: 600;
            }
            .banner-button {
                background-color: $second-color;
                color: #000;
                display: block;
                width: 180px;
                padding: 10px 15px;
                text-align: center;
                font-size: 1.1rem;
                font-weight: 600;
                text-transform: uppercase;
                border-radius: 3px;
                &:hover {
                    background-color: darken( $second-color, 15% );
                    text-decoration: none;
                }
            }
        }
    }
}

.slick-slider {
    .slick-arrow {
        display: block;
        height: 100%;
        padding: 10px;
        width: 100px;
        z-index: 99;
    }
    .slick-prev {
        left: 0;
        background: rgba(0,0,0,1);
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        transition: opacity 0.5s;
        opacity: 0.4;
        &:hover {
            opacity: 0.7;
        }
    }
    .slick-next {
        right: 0;
        background: rgba(0,0,0,1);
        background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        transition: opacity 0.5s;
        opacity: 0.4;
        &:hover {
            opacity: 0.7;
        }
    }

}