.map {
    background-color: #000;
    height: 100vh;
    background-image: url('/img/map.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}