.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $nav-background-color;
    z-index: 100;

    .logo {
        padding: 15px;
        img {
            max-width: 170px;
            height: auto;
        }
    }

    nav.navigation-menu {
        ul.menu {
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                padding-right: 60px;
                padding-left: 15px;
                padding-top: 15px;
                padding-bottom: 15px;
                margin-bottom: 15px;
                margin-top: 15px;
                margin-right:15px;
                line-height: 1.2;
                background-color: rgba(0,0,0,0);
                transition: background-color 0.25s;
                &.menu-item-1 {
                    border-left: 5px solid $railway;
                }
                &.menu-item-2 {
                    border-left: 5px solid $zipline;
                }
                &.menu-item-3 {
                    border-left: 5px solid $pottery;
                }
                &.menu-item-4 {
                    border-left: 5px solid $conservation;
                }
                .long-name {
                    display: block;
                    color: #fff;
                    font-size: 1.15rem;
                    text-transform: uppercase;
                }
                a {
                    &:link,
                    &:active,
                    &:visited {
                        color: #fff;
                        font-size: 0.875rem;
                        text-transform: uppercase;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
                &:hover {
                    background-color: rgba(0,0,0,0.5);
                    transition: background-color 0.25s;
                    cursor: pointer;
                }
            }
        }
    }
}