.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $nav-background-color;
    z-index: 100;

    .logo {
        padding: 15px;
        img {
            max-width: 170px;
            height: auto;
        }
    }

    nav.navigation-menu {
        ul.menu {
            margin: 0;
            padding: 0;
            li {
                position: relative;
                display: block;
                float: left;
                padding-right: 60px;
                padding-left: 30px;
                padding-top: 30px;
                padding-bottom: 30px;
                line-height: 1.2;
                background-color: rgba(0,0,0,0);
                border-left: $menu-tab-size solid transparent;
                &:hover {
                    background-color: rgba(0,0,0,0.5);
                    cursor: pointer;
                    .menu-dropdown {
                        display: block;
                    }
                }
                &.menu-item-1 {
                    &:hover {
                        border-left-color:$second-color;
                        .menu-dropdown {
                            li:hover {
                                border-left-color:$second-color;
                            }
                        }
                    }
                }
                &.menu-item-2 {
                    &:hover {
                        border-left-color:$railway;
                        .menu-dropdown {
                            li:hover {
                                border-left-color:$railway;
                            }
                        }
                    }
                }
                &.menu-item-3 {
                    &:hover {
                        border-left-color:$zipline;
                        .menu-dropdown {
                            li:hover {
                                border-left-color:$zipline;
                            }
                        }
                    }
                }
                &.menu-item-4 {
                    &:hover {
                        border-left-color:$pottery;
                        .menu-dropdown {
                            li:hover {
                                border-left-color:$pottery;
                            }
                        }
                    }
                }
                &.menu-item-5 {
                    &:hover {
                        border-left-color:$conservation;
                        .menu-dropdown {
                            li:hover {
                                border-left-color:$conservation;
                            }
                        }
                    }
                }
                .long-name {
                    display: block;
                    color: #fff;
                    font-size: 1.15rem;
                    text-transform: uppercase;
                }
                a {
                    &:link,
                    &:active,
                    &:visited {
                        color: #fff;
                        font-size: 0.875rem;
                        text-transform: uppercase;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
                .menu-dropdown {
                    position: absolute;
                    left: -$menu-tab-size;
                    top: 100%;
                    width: 120%;
                    background-color: rgba(0,0,0,0.8);
                    margin: 0;
                    padding: 0;
                    display: none;
                    li {
                        padding: 15px 30px;
                        display: block;
                        float: none;
                    }
                }
            }
        }
    }
}