.staff-members {
    background-color: #000;
    .staff-profiles {
        height: 100vh;
        background-image: url('/img/map.jpg');
        background-repeat: no-repeat;
        background-size: 100% auto;

    }
}